.footer{
    background-color: rgb(165, 165, 165);   
    height: 50vh;
}
.divider{
    color: white;
}
@media screen and (max-width: 1440px) {
    .footer {
      height: 60vh;
    }
    
    
  }
@media screen and (max-width: 1326px) {
    .footer {
      height: 100vh;
    }
    
    
  }